@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Lato', sans-serif;
}

#root {
  padding: 0;
}

.pagination .selected{
  background-color: orange;
}